.Swrp {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 2.7fr;
    margin: 25px 20px;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 40px;
    position: relative;

}



.tableHeader {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    align-items: center;
    position: relative;

}

.input {
    height: 30px;
    outline: none;
    width: 30%;
    border: 1px solid rgb(163, 163, 163);
}