.layoutWrp {
    background: #ddd;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 65px auto;
    grid-template-areas:
        "header header"
        "aside content"
    ;

}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.content {
    grid-area: content;
}