.headerWrp {
    height: 100px;
    background: #014694;
    color: #fff;
    z-index: 100;
    border-bottom: 2px solid #337ccf;
    width: 100%;
    position: fixed;
    top: 0;
}



.headerContainer {
    width: 100%;
    height: 130px;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: .8fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
}

@media (max-width:990px) {
    .headerWrp {
        height: 75px;
        position: fixed;
        border-bottom: 1px solid #1963b8;
        top: 0;
        width: 100%;
    }

    .headerContainer {
        height: 75px;
    }
}