.notFound {
    height: 400px;
}

.notFoundWrp {
    width: 70%;
    margin: auto;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: underline;
}